<div class="wrap">
    <div id="poststuff">
        <div id="post-body" class="metabox-holder columns-1">
            <div id="post-body-content">
                <form action="" method="POST" id="jn_plugin">
                    {% block content %}{% endblock %}
                </form>
                <div class="popup popup__container hide popup__scale">
                    <div class="popup__container--box">
                        <div class="popup__container--msgs"></div>
                        <a href="#" data-respond="1" class="flat_btn btn__save">Yes</a>
                        <a href="#" data-respond="0" class="flat_btn">No</a>
                    </div>
                </div>
            </div>
        </div>
        <br class="clear">
    </div>
</div>