.row_title {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    @include box-sizing(border-box);

    label {
        display: block;

        + input {
            padding: 5px;
            width: 100%;
            @include box-sizing(border-box);
        }
    }
}

.modules {
    @include box-sizing(border-box);
    $module_height: 21px;

    .module_each {
        background: #fff;
        border: 1px solid #cdcdcd;
        height: $module_height;
        margin: 0 2% 10px;
        overflow: hidden;
        padding: 10px 0;
        position: relative;
        width: 96%;

        &-btn {
            height: $module_height;
            padding-top: 7px;
            @include posa(0,10px,n,n);
        }

        p {
            display: inline-block;
            margin: 0;
        }

        &.list-group-item {
            @include transition(0.25s ease background);

            p {
                line-height: 1;
                margin-left: 12px;
                @include fontLa(18px);
            }

            &:hover {
                background: #efefef;
            }
        }
        
        &.sortable-ghost {
            background: #ccc;
            border: 0;
            @include box-shadow(0 0 10px rgba(#000, 0.5));

            p, div, i {
                display: none;
            }
        }

        .module_move, .module_close {
            float: right;
            height: $module_height;
            line-height: 2.5;
            margin-right: 10px;
            text-align: center;
            @include transition(0.5s background ease);

            .fa {
                color: #fff;
                font-size: 18px;
            }
        }

        .module_move {
            cursor: move;
            &.round {
                @include circle(30px, #0c7fcc);
            }

            &:hover {
                background: darken(#0c7fcc, 20%);
            }
        }

        .module_close {
            cursor: pointer;
            &.round {
                @include circle(30px, #e74c3c);
            }

            &:hover {
                background: darken(#e74c3c, 20%);
            }
        }

        img {
            width: 100%;
        }
    }

    &.module_list {
        height: 500px;
        overflow-y: auto;
    }

    &.module_list,  .module_create {
        padding: 10px;
    }

    .module_create {
        margin-left: 20px;
        min-height: 500px;
    }
}