.row_title {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    @include box-sizing(border-box);

    label {
        display: block;

        + input {
            padding: 5px;
            width: 100%;
            @include box-sizing(border-box);
        }
    }
}

.modules {
    @include box-sizing(border-box);

    .module_each {
        background: #000;
        height: 115px;
        margin: 0 2% 10px;
        width: 96%;
    }

    &.module_list {
        overflow-y: auto;
    }

    &.module_list,  .module_create {
        height: 500px;
        padding: 10px;
    }

    .module_create {
        margin-left: 20px;
    }
}

.modules_edit {
    .module_each {
        padding: 10px;

        &:nth-of-type(2n+2) {
            background: #efefef;
        }
    }
}