.module__layout[data-module="module_banner"] {
    .banner_img {
        width: 100%;
    }

    input[type="text"] {
        display: block;
        margin-bottom: 10px;
        width: 100%;

        &.banner_src {
            margin: 10px 0;
        }
    }

    textarea {
        display: block;
        height: 150px;
        width: 100%;
    }
}