.popup {
    &.popup__bkgd {
        background: rgba(#000, 0.75);
        height: 100%;
        width: 100%;
        z-index: 10000000;
        @include posa(0,n,n,0);
    }

    &.popup__container {
        text-align: center;
        width: 100%;
        z-index: 10000001;
        @include posa(20%,n,n,0);
        @include transition(all ease 0.5s);

        &.popup__slide {
            @include posa(-100px,n,n,0);

            &.show {
                @include posa(200px,n,n,0);
            }
        }

        &.popup__scale {
            @include transform(scale(1.5, 1.5));

            &.show {
                @include transform(scale(1, 1));
            }
        }
    }

    .popup__container--box {
        background: #fff;
        margin: 0 auto;
        padding: 25px 10px;
        width: 500px;
        @include box-shadow(0 15px 20px rgba(#000, 0.4));
    }

    .popup__container--icon {
        $color: red;
        @include box-sizing(border-box);
        @include circle(150px, lighten($color,20%));
        @include fontLa(81px);
        color: #fff;
        margin: 0 auto;
        padding: 63px 0 0 0;
    }

    .popup__container--msgs {
        color: #7c7c7c;
        line-height: 1;
        margin: 30px 0;
        @include fontLa(23px);
    }
}