.col_container {
    height: auto;

    .main_col {
        height: auto;
    }

    .modules {
        &.module_list,  .module_create {
            background: #fff;
            height: 500px;
            padding: 10px;
        }

        .module_create {
            margin-left: 20px;
        }
    }
}