{% extends "base.twig" %}

{% block content %}
    <div id="page_create">

        <page-create-modules modules="{{ modules|json_encode() }}">{% include 'partials/save.twig' with {'action' : 'page-store'} %}</page-create-modules>

        {#<div class="module_list"></div>#}

        {#<div class="module_save">#}
            {#{% include 'partials/save.twig' with {'action' : 'page-store'} %}#}
        {#</div>#}

        {#<div style="width: auto; height: 300px; background: #fff; margin-left: 280px;">#}
            {#<h2 class="page_create_header">Page</h2>#}
            {#<p class="page_create_text">#}
                {#The modules listed below are going to be the modules that will be available on your page.#}
                {#You can sort the order of how you want the modules to be on the page by clicking and dragging the blue move button.#}
            {#</p>#}
        {#</div>#}

        {#<h1 class="jn_plugin_h1">Create a Page</h1>#}

        {#<div class="row_title col_wrapper">#}
            {#<label for="page_name">Enter Page Name:</label>#}
            {#<input type="text" name="page_name">#}
        {#</div>#}

        {#<div class="col_container left_big">#}
            {#<page-create-modules modules="{{ modules|json_encode() }}"></page-create-modules>#}

            {#<div class="col side_col">#}
                {#{% include 'partials/save.twig' with {'action' : 'page-store'} %}#}
            {#</div>#}
        {#</div>#}
    </div>
{% endblock %}