{% extends "base.twig" %}

{% block content %}
<div id="page_create">
    <page-create-modules-new modules="{{ modules|json_encode() }}" base_url="{{ admin_url }}" page_data="{{ page|json_encode() }}">
        {% include 'partials/save.twig' with {'action' : (page is empty ? 'page-store' : 'page-update')} %}
    </page-create-modules-new>
</div>
{% endblock %}