<div class="module__layout col_container" data-module="module_slideshow">
    <h2>Slideshow</h2>

    <div class="slideshow__options">
        <label for="">Transition</label>
        <select name="">
            <option value="fade">fade</option>
            <option value="fade">slide</option>
        </select>

        <label for="">Duration (seconds)</label>
        <input type="text" value="5">
    </div>

    <div class="slideshow__container" style="background: #efefef;">
        <div class="col_container quad slide__each">
            <div class="col">
                <img class="slide_img" src="{{ plugin_img_path }}thumbnail.jpg" alt="">
                <input type="hidden" class="slide_src" name="" value="" readonly>


            </div>
            <div class="col">
                <label for="slideshow_title">Slide Title:</label>
                <input type="text" name="slideshow_title">
            </div>
            <div class="col">
                <label for="">Slide Captions</label>
                <textarea name=""></textarea>
            </div>
            <div class="col">
                <a href="#" class="insert-media add_media flat_btn" data-editor="content" title="Add Media">
                    <span class="wp-media-buttons-icon"></span> Add Media
                </a>

                <a href="#" class="flat_btn btn__del">Remove</a>
            </div>
        </div>

        <div class="col_container quad slide__each">
            <div class="col">
                <img class="slide_img" src="{{ plugin_img_path }}thumbnail.jpg" alt="">
                <input type="hidden" class="slide_src" name="" value="" readonly>

                <a href="#" class="insert-media add_media flat_btn" data-editor="content" title="Add Media">
                    <span class="wp-media-buttons-icon"></span> Add Media
                </a>
            </div>
            <div class="col">
                <label for="slideshow_title">Slide Title:</label>
                <input type="text" name="slideshow_title">
            </div>
            <div class="col">
                <label for="">Slide Captions</label>
                <textarea name=""></textarea>
            </div>
            <div class="col">
                <a href="#" class="flat_btn btn__del">Remove</a>
            </div>
        </div>
    </div>

    <a href="#" class="flat_btn btn__save">Add Slide</a>
</div>